.login-container {
  margin-top: 100px;

  h2 {
    font-weight: bold;
  }

  .field-error {
    position: absolute;
    bottom: -22px;
    left: 0;
    font-size: 0.875rem;
    color: #dc3545;
    white-space: nowrap;
  }

  .form-label {
    margin-top: 0.4rem;
    margin-bottom: 0.1rem;
  }


  .form-group {
    label {
      font-weight: 500;
    }

    .form-control {
      position: relative;
    }
  }

  .btn {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .registration-container {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 8px;
    .registration-link {
      color: #0d6efd; // Bootstrap primary
      text-decoration: none;
      font-weight: 500;
    
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
