.form-container {
  padding: 16px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #00000069;
  background-color:hsla(30,100%,95%,1);
  background-image:
  radial-gradient(at 66% 89%, hsla(289,36%,67%,0.26) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(328,74%,80%,0.25) 0px, transparent 50%);

  h2 {
    font-weight: bold;
    color: antiquewhite;
    text-shadow: -1px -1px 0 #00000060, -1px 1px 0 #00000060, 1px -1px 0 #00000060, 1px 1px 0 #00000060;
  }

}


.registration-container {
  margin-top: 80px;
  margin-bottom: 40px;

  .form-group {
    label {
      font-weight: 500;
    }

    .form-control {
      position: relative;
    }

  }

  .field-error {
    position: absolute;
    bottom: -22px;
    left: 0;
    font-size: 0.875rem;
    color: #dc3545;
    white-space: nowrap;
  }


  .btn {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .button-container {
    margin-top: 40px;
    display: flex;
    gap: 10px;
  }

  .alert-container {
    margin-top: 40px;
  }
}
